In [1]:
import pandas as pd

In [2]:
url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_active = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [10]:
confirmed = pd.read_csv(url_confirmed)
confirmed.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657456,657456,657456,657573,657573,657573,657573,657573,657573,657573
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11819,11819,11819,11819,11819,11819,11819,11819,11819,11819
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,320945,321099,321146,321195,321268,321342,321399,321503,321503,321503
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,250469,250469,250642,250702,250929,251228,251646,251959,251959,252092

In [9]:
date1 = confirmed.columns[4:]
total_confirmed = confirmed.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date1, var_name = 'date', value_name = 'confirmed')
total_confirmed.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed
244810,NaN,West Bank and Gaza,31.952200,35.233200,5/29/22,657573
244811,NaN,Winter Olympics 2022,39.904200,116.407400,5/29/22,535
244812,NaN,Yemen,15.552727,48.516388,5/29/22,11819
244813,NaN,Zambia,-13.133897,27.849332,5/29/22,321503
244814,NaN,Zimbabwe,-19.015438,29.154857,5/29/22,252092

In [6]:
death = pd.read_csv(url_death)

In [7]:
date2 = death.columns[4:]
total_death = death.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date2, var_name = 'date', value_name = 'death')
total_death.tail()

,Province/State,Country/Region,Lat,Long,date,death
244810,NaN,West Bank and Gaza,31.952200,35.233200,5/29/22,5660
244811,NaN,Winter Olympics 2022,39.904200,116.407400,5/29/22,0
244812,NaN,Yemen,15.552727,48.516388,5/29/22,2149
244813,NaN,Zambia,-13.133897,27.849332,5/29/22,3985
244814,NaN,Zimbabwe,-19.015438,29.154857,5/29/22,5500

In [8]:
recovered = pd.read_csv(url_active)

In [11]:
date3 = recovered.columns[4:]
total_recovered = recovered.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date3, var_name = 'date', value_name = 'recovered')
total_recovered.tail()

,Province/State,Country/Region,Lat,Long,date,recovered
231925,NaN,West Bank and Gaza,31.952200,35.233200,5/29/22,0
231926,NaN,Winter Olympics 2022,39.904200,116.407400,5/29/22,0
231927,NaN,Yemen,15.552727,48.516388,5/29/22,0
231928,NaN,Zambia,-13.133897,27.849332,5/29/22,0
231929,NaN,Zimbabwe,-19.015438,29.154857,5/29/22,0

In [12]:
covid_data = total_confirmed.merge(right = total_death, how='left', on=['Province/State','Country/Region','Lat','Long','date'])
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0

In [13]:
covid_data = covid_data.merge(right = total_recovered, how='left', on=['Province/State','Country/Region','Lat','Long','date'])
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

In [14]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [17]:
covid_data['recovered'] = covid_data['recovered'].fillna(0)

In [16]:
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0

In [18]:
covid_data.isna().sum()

Province/State    168364
Country/Region         0
Lat                 1718
Long                1718
date                   0
confirmed              0
death                  0
recovered              0
dtype: int64

In [19]:
covid_data['active'] = covid_data['confirmed'] - covid_data['death'] - covid_data['recovered']

In [21]:
covid_data.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered,active
244810,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-29,657573,5660,0.0,651913.0
244811,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-29,535,0,0.0,535.0
244812,NaN,Yemen,15.552727,48.516388,2022-05-29,11819,2149,0.0,9670.0
244813,NaN,Zambia,-13.133897,27.849332,2022-05-29,321503,3985,0.0,317518.0
244814,NaN,Zimbabwe,-19.015438,29.154857,2022-05-29,252092,5500,0.0,246592.0