In [2]:
import pandas as pd

In [3]:
url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_active = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [4]:
confirmed = pd.read_csv(url_confirmed)
confirmed.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22,5/30/22,5/31/22
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657456,657573,657573,657573,657573,657573,657573,657573,657573,657705
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11819,11819,11819,11819,11819,11819,11819,11819,11822,11822
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,321146,321195,321268,321342,321399,321503,321503,321503,321503,321779
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,250642,250702,250929,251228,251646,251959,251959,252092,252092,252398

In [5]:
date1 = confirmed.columns[4:]
total_confirmed = confirmed.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date1, var_name = 'date', value_name = 'confirmed')
total_confirmed.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed
245380,NaN,West Bank and Gaza,31.952200,35.233200,5/31/22,657705
245381,NaN,Winter Olympics 2022,39.904200,116.407400,5/31/22,535
245382,NaN,Yemen,15.552727,48.516388,5/31/22,11822
245383,NaN,Zambia,-13.133897,27.849332,5/31/22,321779
245384,NaN,Zimbabwe,-19.015438,29.154857,5/31/22,252398

In [6]:
death = pd.read_csv(url_death)

In [7]:
date2 = death.columns[4:]
total_death = death.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date2, var_name = 'date', value_name = 'death')
total_death.tail()

,Province/State,Country/Region,Lat,Long,date,death
245380,NaN,West Bank and Gaza,31.952200,35.233200,5/31/22,5660
245381,NaN,Winter Olympics 2022,39.904200,116.407400,5/31/22,0
245382,NaN,Yemen,15.552727,48.516388,5/31/22,2149
245383,NaN,Zambia,-13.133897,27.849332,5/31/22,3987
245384,NaN,Zimbabwe,-19.015438,29.154857,5/31/22,5503

In [8]:
recovered = pd.read_csv(url_active)

In [9]:
date3 = recovered.columns[4:]
total_recovered = recovered.melt(id_vars=['Province/State', 'Country/Region','Lat', 'Long'], value_vars=date3, var_name = 'date', value_name = 'recovered')
total_recovered.tail()

,Province/State,Country/Region,Lat,Long,date,recovered
232465,NaN,West Bank and Gaza,31.952200,35.233200,5/31/22,0
232466,NaN,Winter Olympics 2022,39.904200,116.407400,5/31/22,0
232467,NaN,Yemen,15.552727,48.516388,5/31/22,0
232468,NaN,Zambia,-13.133897,27.849332,5/31/22,0
232469,NaN,Zimbabwe,-19.015438,29.154857,5/31/22,0

In [10]:
covid_data = total_confirmed.merge(right = total_death, how='left', on=['Province/State','Country/Region','Lat','Long','date'])
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0

In [11]:
covid_data = covid_data.merge(right = total_recovered, how='left', on=['Province/State','Country/Region','Lat','Long','date'])
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

In [12]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [17]:
covid_data['recovered'] = covid_data['recovered'].fillna(0)

In [13]:
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0

In [14]:
covid_data.isna().sum()

Province/State    168756
Country/Region         0
Lat                 1722
Long                1722
date                   0
confirmed              0
death                  0
recovered          18081
dtype: int64

In [15]:
covid_data['active'] = covid_data['confirmed'] - covid_data['death'] - covid_data['recovered']

In [16]:
covid_data.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed,death,recovered,active
245380,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-31,657705,5660,0.0,652045.0
245381,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-31,535,0,0.0,535.0
245382,NaN,Yemen,15.552727,48.516388,2022-05-31,11822,2149,0.0,9673.0
245383,NaN,Zambia,-13.133897,27.849332,2022-05-31,321779,3987,0.0,317792.0
245384,NaN,Zimbabwe,-19.015438,29.154857,2022-05-31,252398,5503,0.0,246895.0

In [19]:
covid_data['date'].iloc[-1].strftime('%B %d %Y')

'May 31 2022'